body {
    background: black;
    color: cyan;
}
.container_12 {
    background: black;
    color: cadetblue;
}
#operations {
    background-color: black;
    color: cadetblue;
}
#index_table {
    color: antiquewhite;
}
#page_title {
    color: #0f95ed;
}
.primary_score .recommendation {
    color: azure;
}
#index_table tbody tr:hover {
    background-color: #3a0000;
}
#form .component .help {
    color: azure;
}
#form .component .group_exercise {
    background-color: #111418;
    color: white;
}
#form .component.subcomponent .header {
    background-color: #111418;
    color: white;
}
#form .component .additional_notes {
    background-color: #111418;
    color: white;
}
#form .component .prompt {
    background-color: #0B1941;
    color: white;
}
#pre_interview #group_and_role {
    color: azure;
}
h6 {
    color: chartreuse;
}
input[type="text"] {
    background-color: #111418;
    color: white;
}
textarea {
    background-color: #111418;
    color: white;
}
.radio_grid {
    background-color: black;
    color: cadetblue;
}
.radio_grid tbody tr:nth-child(2n+1) {
    background-color: black;
    color: white;
}
.radio_grid tbody tr:nth-child(2n) {
    background-color: #0D0F12;
    color: white;
}
.component_result .field {
    color: white;
}
.component_list .component_list_item.selected {
    color: cyan;
}
input[type='radio']:after {
    color: yellow;
}


.radio_with_checkboxes {
    color: yellow;
}
/*
.ng-scope {
    color: yellow;
}
*/
