:root {
    --bg: black;
    --fg: silver;
    --link: green;
    --header: green;
    --fill: #002931;
    --highlight: cyan;
    --byline: #00656D;
    --dark-control: #040D11;
}

body {
    background-color: var(--bg);
    color: var(--fg);
}
 
a {
    color: var(--link);
}

.module_callout {
    background-color: var(--fill);
    color: var(--highlight);
}

.module_callout .callout-title {
	color: var(--highlight);
}

.module_list.tight > li {
    background-color: var(--dark-control);
}

.niceInput {
    background-color: var(--dark-control);
    color: var(--byline);
}

.niceInput:focus {
    background-color: var(--fill);
    color: var(--highlight);
}

.profileBoxes {
    background-color: var(--dark-control);
    color: var(--highlight);
}

.module_badge {
    background-color: var(--dark-control);
    color: var(--byline);
}

.module_headerCrumb h1 {
    color: var(--byline);
}

.globalHeader {
    background-color: var(--bg);
    color: var(--link);
}
.globalHeader-nav-item {
    color: var(--link);
}

.module_secondaryHead {
    background-color: var(--bg);
    color: var(--fg);
}

.primaryHeading {
    color: var(--fg);
}

.btnGreenFlat {
    background-color: var(--fill);
    color: var(--fg);
    border: 1px solid;
    border-color: var(--fg);
}


.module_box .module_box_header_filled, .module_box .module_box_header_filled {
    background-color: var(--fill);
    color: var(--fg);
}


.module_box {
    background-color: var(--bg);
    color: var(--fg);
}

.module_box > .module_box_footer {
    background-color: var(--fill);
    color: var(--fg);
}

.module_list.tight.proposalList li {
    background-color: var(--dark-control);
    color: var(--fg);
}

.module_btn.secondary_btn {
    background-color: var(--bg);
    color: var(--highlight);
}

.module_pageControls .pageSearch {
    background-color: var(--dark-control);
    color: var(--link);
}
.pageSearch {
    background-color: var(--bg);
    color: var(--fg);
}

.rhNavControl div.active a {
    color: var(--link) !important;
}

.searchPro .serviceMeta .projAttributes {
    color: var(--byline);
}

a.BlueLinks {
    color: var(--link) !important;
}

.manageList .module_box_footer {
    background-color: var(--dark-control);
    color: var(--fg);
}
 
.pagination ul {
    background-color: var(--bg);
    color: var(--fg);
}

.pagination ul li a, .pagination ul li span {
    background-color: var(--dark-control);
    color: var(--fg);
}

.globalFooter {
    background-color: var(--bg);
    color: var(--fg);
}

.myQuoteBody pre, .section_desc pre {
    color: var(--fg);
}

.jobDetail-header {
    background-color: var(--fill);
    color: var(--highlight);
}

.section_skills .skillItem {
    background-color: var(--dark-control);
    color: var(--link);
}

.section_qa .projMsg {
    background-color: var(--bg);
}
